// Navigation code here

.navigation{
  .flex(column, space-evenly, center);
  margin: 2%;
  color: @nav-font;
  border: @nav-border;
  background-color: @nav-bg;
    h1 {
      font-size: 4rem;
     
    //=====Start awesome animation for H1...Stretch goal!===========
      -webkit-animation: flip-horizontal-bottom 3s cubic-bezier(1, 1, 1, 1) both infinite;
	        animation: flip-horizontal-bottom 3s cubic-bezier(1, 1, 1, 1) both infinite;
    }
    @-webkit-keyframes flip-horizontal-bottom {
      0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
      }
      100% {
        -webkit-transform: rotateX(-360deg);
                transform: rotateX(-360deg);
      }
    }
    @keyframes flip-horizontal-bottom {
      0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
      }
      100% {
        -webkit-transform: rotateX(-360deg);
                transform: rotateX(-360deg);
      }
    }
    // =========== End animation for Stretch Goal! =============
      nav{
          .flex(row, space-around, center);
          
          width: 35%;
          margin: 2%;
          text-decoration: none;
            a {
            text-decoration: none;
            color: @header-font-color;
            font-size: 1.5rem;  
          }        
        } 
// Below is the Task 5 for @mobile
  @media @phone {
    .flex(column, space-evenly, center);
    nav {
    width: 100%;
    // margin-top: 2%;
    padding: 2%;
    }
  }
} //Close .navigation  
      
